.Answer {
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    margin: 5px;
}

.IncorrectAnswer {
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: 3px solid red;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    margin: 5px;

}

.CorrectAnswer {
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    margin: 5px;
    border: 3px solid rgb(6, 240, 15);
    background-color: rgb(6, 240, 15);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    color: black;
}